body {
	background-color: #E5E5E5;
	color: #1469AA;
	font-family: Helvetica;
	text-align: center;
}

h1	{
	font-family: Courier;
	color: black;
}

h2 {
	font-family: Courier;
	color: red;
	text-align: center;
}

a	{
	color:#FF6464;
}

a:hover {
	text-decoration: none;
	color:purple;
}

#copyright {
	font-size: 12px;
	color: #333333;
	text-align: center;
}

#footer {
	border: 1px solid;
}

#footer a {
	color: black;
}
